<h1>Listing comments</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Location</th>
    <th>User</th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%=h comment.title %></td>
    <td><%=h comment.text %></td>
    <td><%=h comment.location_id %></td>
    <td><%=h comment.user_id %></td>
    <td><%= link_to 'Show', location_comment_path(@location, comment) %></td>
    <td><%= link_to 'Edit', edit_location_comment_path(@location, comment) %></td>
    <td><%= link_to 'Destroy', location_comment_path(@location, comment), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New comment', new_location_comment_path(@location) %>