<p>
  <b>Name:</b>
  <%=h @section.name %>
</p>

<p>
  <b>Text:</b>
  <%=h @section.text %>
</p>

<p>
  <b>Location:</b>
  <%=h @section.location_id %>
</p>

<p>
  <b>User:</b>
  <%=h @section.user_id %>
</p>


<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>