<h1>Listing location_types</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @location_types.each do |location_type| %>
  <tr>
    <td><%=h location_type.name %></td>
    <td><%= link_to 'Show', location_type %></td>
    <td><%= link_to 'Edit', edit_location_type_path(location_type) %></td>
    <td><%= link_to 'Destroy', location_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New location_type', new_location_type_path %>