<h1>Listing locations <%= "nearby "+@location.name if controller.controller_name == "locations" and controller.action_name == "get_nearby" %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Location type</th>
    <th>Bluetooth mac</th>
    <th>Lat</th>
    <th>Lng</th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
    <th>Postal code</th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= link_to h(location.name), location %></td>
    <td><%=h location.location_type.name %></td>
    <td><%=h location.bluetooth_mac %></td>
    <td><%=h location.lat %></td>
    <td><%=h location.lng %></td>
    <td><%=h location.street %></td>
    <td><%=h location.city %></td>
    <td><%=h location.state %></td>
    <td><%=h location.postal_code %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<div id="map_canvas"></div>
<script type="text/javascript">
  google.load("maps", "2", {callback: mapLoaded});
  
  function mapLoaded() {
    if (GBrowserIsCompatible()) {
      var location_coordinates = new GLatLng(<%= @locations[0].lat %>, <%= @locations[0].lng %>);
      
      map = new GMap2(document.getElementById("map_canvas"));
      map.setCenter(new GLatLng(<%= @locations[0].lat %>, <%= @locations[0].lng %>), 14);
      map.addControl(new GSmallMapControl());
      map.addControl(new GMapTypeControl());
      
      <% @locations.each do |location| %>
			  <% if !location.lat.blank? and !location.lng.blank? %>
		      var location_marker_<%= location.id %> = new GMarker(
		        new GLatLng(<%= location.lat %>, <%= location.lng %>),
		        {title: "<%= escape_javascript location.name %>"}
					);
		      map.addOverlay(location_marker_<%= location.id %>);
		      location_marker_<%= location.id %>.bindInfoWindowHtml("<strong><%= escape_javascript location.name %></strong><p><%= escape_javascript location.description %></p>");
        <% end %>
			<% end %>
    }
  }
</script>

<%= link_to 'New location', new_location_path %>