<h1>
	Listing locations
	<% if controller.controller_name == "locations" and controller.action_name == "get_nearby" %>
	  nearby <%=h @location.name %>
	<% elsif controller.controller_name == "locations" and controller.action_name == "search" %>
	  matching the search term "<%= @search_term %>"
	<% elsif controller.controller_name == "location_types" and controller.action_name == "show" %>
	  of type <%=h @location_type.name %>
	<% end %>
</h1>

<% if controller.controller_name == "locations" and controller.action_name == "search" %>
  <form action="/locations/search" method="get">
    <input type="text" name="q" value="<%= @search_term %>" />
    <input type="submit" value="Search" />
  </form>
	<p>&nbsp;</p>
<% end %>

<% if @locations.size > 0 %>

	<table>
	  <tr>
	    <th>Name</th>
	    <th>Location type</th>
	    <th>Bluetooth mac</th>
	    <th>Lat</th>
			<th>Lng</th>
	    <th>Address</th>
	  </tr>
	
	<% @locations.each do |location| %>
	  <tr>
	    <td><%= link_to h(location.name), location %></td>
	    <td><%= link_to h(location.location_type.name), location.location_type %></td>
	    <td><%=h location.bluetooth_mac %></td>
	    <td><%=h location.lat %></td>
			<td><%=h location.lng %></td>
	    <td>
	    	<%= h(location.street) + "<br />"  unless location.street.empty? %>
			  <%= h(location.city) + ", "  unless location.city.empty? %>
				<%=h location.state %>
				<%=h location.postal_code %>
			</td>
	    <td><%= link_to('Edit', edit_location_path(location), :class => "edit")  if current_user %></td>
	    <td><%= link_to('Destroy', location, :confirm => 'Are you sure?', :method => :delete, :class => "delete")  if current_user %></td>
	  </tr>
	<% end %>
	</table>
	
	<br />
	<div id="map_canvas"></div>
	<script type="text/javascript">
	  google.load("maps", "2", {callback: mapLoaded});
	  
	  function mapLoaded() {
	    if (GBrowserIsCompatible()) {
	      var location_coordinates = new GLatLng(<%= @locations[0].lat %>, <%= @locations[0].lng %>);
	      
	      map = new GMap2(document.getElementById("map_canvas"));
	      map.setCenter(new GLatLng(<%= @locations[0].lat %>, <%= @locations[0].lng %>), 14);
	      map.addControl(new GSmallMapControl());
	      map.addControl(new GMapTypeControl());
	      
	      <% @locations.each do |location| %>
				  <% if !location.lat.blank? and !location.lng.blank? %>
			      var location_marker_<%= location.id %> = new GMarker(
			        new GLatLng(<%= location.lat %>, <%= location.lng %>),
			        {title: "<%= escape_javascript location.name %>"}
						);
			      map.addOverlay(location_marker_<%= location.id %>);
			      location_marker_<%= location.id %>.bindInfoWindowHtml("<strong><%= escape_javascript location.name %></strong><p><%= escape_javascript location.description %></p>");
	        <% end %>
				<% end %>
	    }
	  }
	</script>
	
<% else %>
  <p>No locations found</p>
<% end %>

<%= link_to 'Create new location', new_location_path, :class => 'create' %>

