<h1><%=h @location.name %></h1>

<p>
  <strong>Description:</strong>
  <%=h @location.description %>
</p>

<p>
  <strong>Location type:</strong>
  <%=h @location.location_type.name %>
</p>

<% if @location.parent_location %>
<p>
  <strong>Belongs to:</strong>
  <%= link_to @location.parent_location.name, @location.parent_location %>
</p>
<% end %>

<% if @location.child_locations.size > 0 %>
<p>
  <strong>Contains:</strong>
	<ul>
	<% @location.child_locations.each do |location| %>
    <li><%= link_to location.name, location %></li>
  <% end %>
	</ul>
</p>
<% end %>

<p>
  <strong>Bluetooth mac:</strong>
  <%=h @location.bluetooth_mac %>
</p>

<% if @location.lat or @location.lng %>
<p>
  <strong>Coordinates (lat / lng):</strong>
  <%=h @location.lat %> / <%=h @location.lng %>
</p>
<% end %>

<% if @location.street or @location.city or @location.state or @location.postal_code %>
<p>
  <strong>Address:</strong><br />
  <%=h @location.street %><br />
	<%=h @location.city %>, <%=h @location.state %><br />
	<%=h @location.postal_code %><br />
	<%=h @location.country %>
</p>
<% end %>

<p>
  <strong>Phone:</strong>
	<%=h @location.phone %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to @location.url, @location.url %>
</p>

<hr />

<div>
	<strong>Sections:</strong>
	
	<% unless @location.sections == nil %>
	  <ul>
	  <% @location.sections.each do |section| %>
		  <li><%= link_to section.name, location_section_path(@location, section) %></li>
		<% end #@location.section.each %>
		</ul>
	<% else %>
	  No sections yet
	<% end %>
	
	<%= link_to 'New section', new_location_section_path(@location) %>
</div>

<hr />

<div>
  <strong>Comments:</strong>
  
  <% unless @location.comments == nil %>
	  <ul>
    <% @location.comments.each do |comment| %>
      <li>
      	<%= link_to comment.title, location_comment_path(@location, comment) %>
				by <%= link_to @location.user.username, @location.user %>
				<span class="reduced">(on <%= comment.created_at.to_s(:short) %>)</span>
			</li>
    <% end #@location.comment.each %>
    </ul>
	<% else %>
    No comments yet
  <% end %>
	
	<%= link_to 'New comment', new_location_comment_path(@location) %>
</div>

<hr />

<% if @map %>
	<%= @map.to_html %>
	<%= @map.div(:width => "100%", :height => 400) %>
	<hr />
<% end %>

<p>
	[created <%= @location.created_at.to_s(:long) %>
	<% if @location.created_at != @location.updated_at %> - edited <%= @location.updated_at %><% end %>]
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
