<script type="text/javascript">
	location_id = <%= @location.id %>;
</script>

<p>
  <strong>Description:</strong>
  <%=h @location.description %>
</p>

<p>
  <strong>Location type:</strong>
  <%=link_to h(@location.location_type.name), @location.location_type %>
</p>

<% if @location.parent_location %>
<p>
  <strong>Belongs to:</strong>
  <%= link_to @location.parent_location.name, @location.parent_location %>
</p>
<% end %>

<% if @location.child_locations.size > 0 %>
<p>
  <strong>Contains:</strong>
	<ul>
	<% @location.child_locations.each do |location| %>
    <li><%= link_to location.name, location %></li>
  <% end %>
	</ul>
</p>
<% end %>

<p>
  <strong>Bluetooth mac:</strong>
  <%=h @location.bluetooth_mac %>
</p>

<p id="coordinates">
  <strong>Coordinates (lat / lng):</strong>
  <% if !@location.lat.blank? or !@location.lng.blank? %>
    <%=h @location.lat %> / <%=h @location.lng %>
  <% else %>
    no coordinates yet
    <%= link_to("Geocode using address", geocode_location_path(@location)) unless @location.address_empty? %>
  <% end %>
</p>

<% if !@location.address_empty? %>
<p>
  <strong>Address:</strong><br />
  <%=h @location.street %><br />
  <%=h @location.city %>, <%=h @location.state %><br />
  <%=h @location.postal_code %><br />
  <%=h @location.country %>
</p>
<% end %>

<p>
  <strong>Phone:</strong>
	<%=h @location.phone %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to @location.url, @location.url %>
</p>

<% unless @location.floor_number.blank? %>
<p>
  <strong>Floor number:</strong>
  <%= @location.floor_number %>
</p>
<% end %>

<hr />

<div>
	<%= link_to 'Add new section', new_location_section_path(@location), :id => 'add-new-section', :class => 'create' %>
	<h2>Sections:</h2>
	
	<% unless @location.sections == nil %>
	  <div id="sections">
	  <% @location.sections.each do |section| %>
		  <h3 id="section-<%= section.id %>"><%= link_to section.name, location_section_path(@location, section) %></h3>
			<div>
				<p><%= section.text %></p>
			  <%= link_to 'Edit this section', edit_location_section_path(@location, section), :class => 'edit' %>
	      <%= link_to 'Delete this section', location_section_path(@location, section), :class => 'delete', :confirm => 'Are you sure?', :method => :delete %>
			</div>
		<% end %>
		</div>
	<% else %>
	  No sections yet
	<% end %>
	
	<script type="text/javascript">
		$(function() {
			$("#sections").accordion({
				autoHeight: false
			});
		});
	</script>
</div>

<hr />

<div id="map_canvas"></div>
<script type="text/javascript">
	google.load("maps", "2", {callback: mapLoaded});
	
	function mapLoaded() {
	  if (GBrowserIsCompatible()) {
	    map = new GMap2(document.getElementById("map_canvas"));
	    map.addControl(new GSmallMapControl());
	    map.addControl(new GMapTypeControl());
			
			<% if !@location.lat.blank? and !@location.lng.blank? %>
				var location_coordinates = new GLatLng(<%= @location.lat %>, <%= @location.lng %>);
		    map.setCenter(location_coordinates, 14);
				
		    location_marker = new GMarker(
				  location_coordinates,
					{title: "<%= escape_javascript @location.name %>", draggable: true});
		    map.addOverlay(location_marker);
				location_marker.disableDragging();
				location_marker.bindInfoWindowHtml("<strong><%= escape_javascript @location.name %></strong><p><%= escape_javascript @location.description %></p>");
				
			<% else %>
			  var location_coordinates = null;
			  map.setCenter(new GLatLng(42.27535, -83.730839), 14);
				
			<% end %>
			
			<% if current_user %>specifyCoordinates(location_coordinates);<% end %>
		}
	}
</script>

<p>
	[created <%= @location.created_at.to_s(:long) %>
	<% if @location.created_at != @location.updated_at %> - edited <%= @location.updated_at %><% end %>]
</p>

<% if current_user %>
<p>
	<%= link_to('Edit', edit_location_path(@location), :class => "edit") %>
	<%= " | " + link_to('Destroy', @location, :confirm => 'Are you sure?', :method => :delete, :class => "delete")  if current_user_is_admin? %>
</p>
<% end %>

<%= link_to '< Back to locations', locations_path %>

<hr />

<div>
  <h2>Comments:</h2>
  
  <% unless @location.comments == nil %>
    <ul>
    <% @location.comments.each do |comment| %>
      <li>
        <%= link_to comment.title, location_comment_path(@location, comment) %>
        by <%= link_to @location.user.username, @location.user %>
        <span class="reduced">(on <%= comment.created_at.to_s(:short) %>)</span>
      </li>
    <% end #@location.comment.each %>
    </ul>
  <% else %>
    No comments yet
  <% end %>
  
  <%= link_to 'New comment', new_location_comment_path(@location) %>
</div>