<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %> : <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'screen' %>
</head>
<body>
  <div id="wrap">
        <div id="head" class="clearfix">
        <h1><%= link_to "app.talking-points.org", root_path %></h1>
        
        <div id="user_nav">
          <% if current_user %>
            <%= link_to "Edit account", edit_user_path(:current) %> |
            <%= link_to "Logout", logout_path %>
          <% else %>
            <%= link_to "Register", register_path %> |
                    <%= link_to "Login", login_path %>
          <% end %>
        </div>
            
            <ul id="breadcrumb_nav">
                 <li><%= link_to "Locations", root_path %></li>
                 <% if @location and @location.id %>
                   <li>> <%= link_to @location.name, @location %></li>
                 <% end %>
                 <% if controller.controller_name == "sections" %>
                   <li>> <%= link_to "Sections", location_sections_path(@location) %></li>
                   <% if @section and @section.id %>
               <li>> <%= link_to @section.name, location_section_path(@location, @section) %></li>
                     <% end %>
           <% end %>
                 <% if controller.controller_name == "comments" %>
             <li>> <%= link_to "Comments", location_comments_path(@location) %></li>
             <% if @comment and @comment.id %>
               <li>> <%= link_to @comment.title, location_comment_path(@location, @comment) %></li>
             <% end %>
           <% end %>
            </ul>
      </div>
      
      <div id="content">
        <% if flash.length > 0 %>
          <div class="notice"><%= flash[:notice] %></div>
        <% end %>
        
        <%= yield %>
      
      </div>
  </div>
</body>
</html>
